In [83]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

In [84]:
df.head()
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

In [85]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [86]:
names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [6]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [7]:

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [14]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

In [114]:
#df['Gold']==df['Gold'].max()
#dq = df[df['Gold']==df['Gold'].max()].reset_index()
#dq = df[df['Gold']==df['Gold'].idmax()].reset_index()
#df.loc[df['Gold'].idxmax()]
#dq.rename(columns={'index':'country'}, inplace=True)
#dq['country'].iloc[0]
#print '%s' % (dq['ID'])
#dq.filter(['index'],axis=1)

TypeError: 'DataFrame' object is not callable

In [135]:
### Question 2
#Which country had the biggest difference between their summer and winter gold medal counts?

#*This function should return a single string value.*
#df.head()
dw = df[(df['Gold']-df['Gold.1']).abs() == (df['Gold']-df['Gold.1']).abs().max()].reset_index()

dw.rename(columns={'index':'country'}, inplace=True)
dw['country'].iloc[0]
#dw1=pd.DataFrame([dw])

'United States'

In [139]:
### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

SyntaxError: invalid syntax (<ipython-input-139-bebede102996>, line 2)

In [167]:
df_n = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
dq=df_n[((df_n['Gold']-df_n['Gold.1'])/df_n['Gold.2']).abs()==((df_n['Gold']-df_n['Gold.1'])/df_n['Gold.2']).abs().max()].reset_index()
dq.rename(columns={'index':'country'}, inplace=True)
dq['country'].iloc[0]

'Bulgaria'

In [168]:
### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

SyntaxError: invalid syntax (<ipython-input-168-65ee5c3f56f2>, line 2)

In [174]:
Points = pd.Series(df['Gold.2']*3+df['Silver.2']*2+df['Bronze.2']*1)
len(Points)

146

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Length: 146, dtype: int64

In [392]:
census_df = pd.read_csv('census.csv')
census_df
td=census_df[census_df['SUMLEV'] == 50]
td.head()
#td.loc[:,'POPESTIMATE2010':'POPESTIMATE2015']
#td[td['STNAME']=='Alabama']['CENSUS2010POP'].max()
#td_1=td.groupby(['STNAME'])
#g=td_1['CENSUS2010POP']
#g.nlargest(3)
#td_1=td.groupby(['STNAME']).count().reset_index()
#td_2 = td_1[td_1['SUMLEV']==td_1['SUMLEV'].max()]
#td_2['STNAME']

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [406]:
td_new = pd.DataFrame()
td_new['CTYNAME'] = td[['CTYNAME']].max(axis=1)
td_new['MaxPopulation'] = td[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis=1)
td_new['MinPopulation'] = td[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis=1)
td_new['abs_diff'] = td_new['MaxPopulation']-td_new['MinPopulation']
td_new.head()
tn=td_new.sort_values(['abs_diff'],ascending=False).head(1)
tn['CTYNAME'].iloc[0]

'Harris County'

In [17]:
import pandas as pd
census_df = pd.read_csv('census.csv')
census_df
td=census_df[((census_df['REGION'] == 1) | ( census_df['REGION'] == 2)) & (census_df['SUMLEV']==50) & (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014']) & (census_df['CTYNAME'].str.startswith('Washington'))]
td_new = td[['STNAME','CTYNAME']]
td_new.head()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [18]:
import pandas as pd
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [5]:
import pandas as pd
products_df = pd.DataFrame([{'Product ID': '4109', 'Price': '5.0', 'Product': 'Sushi Roll'},
                         {'Product ID': '1412', 'Price': '0.5', 'Product': 'Egg'},
                         {'Product ID': '8931', 'Price': '1.5', 'Product': 'Bagel'}])
products_df.set_index('Product ID')

           Price     Product
Product ID
4109         5.0  Sushi Roll
1412         0.5         Egg
8931         1.5       Bagel

In [6]:
invoices_df = pd.DataFrame([{'Customer': 'Ali', 'Product ID': '4109', 'Quantity': '1'},
                         {'Customer': 'Eric', 'Product ID': '1412', 'Quantity': '12'},
                         {'Customer': 'Ande', 'Product ID': '8931', 'Quantity': '6'},
                           {'Customer': 'Sam', 'Product ID': '4109', 'Quantity': '2'}])
invoices_df

  Customer Product ID Quantity
0      Ali       4109        1
1     Eric       1412       12
2     Ande       8931        6
3      Sam       4109        2

In [24]:
invoice_price_df = pd.merge(invoices_df,products_df,how='inner', left_on='Product ID', right_on='Product ID')
invoice_price_df 
#invoice_price_df['Total Cost']=invoice_price_df['Quantity']*invoice_price_df['Price']

#type(invoice_price_df['Quantity'])

  Customer Product ID Quantity Price     Product
0      Ali       4109        1   5.0  Sushi Roll
1      Sam       4109        2   5.0  Sushi Roll
2     Eric       1412       12   0.5         Egg
3     Ande       8931        6   1.5       Bagel

In [21]:
(invoice_price_df['Quantity']).astype(float)*(invoice_price_df['Price']).astype(float)

0     5.0
1    10.0
2     6.0
3     9.0
dtype: float64

In [26]:
invoice_price_df['Total Cost']=(invoice_price_df['Quantity']).astype(float)*(invoice_price_df['Price']).astype(float)
invoice_price_df

  Customer Product ID Quantity Price     Product  Total Cost
0      Ali       4109        1   5.0  Sushi Roll         5.0
1      Sam       4109        2   5.0  Sushi Roll        10.0
2     Eric       1412       12   0.5         Egg         6.0
3     Ande       8931        6   1.5       Bagel         9.0

In [27]:
print(df.drop(df[df['Quantity'] == 0].index).rename(columns={'Weight': 'Weight (oz.)'}))

NameError: name 'df' is not defined

In [28]:
print(df.groupby('Category').apply(lambda df,a,b: sum(df[a] * df[b]), 'Weight (oz.)', 'Quantity'))


# Or alternatively without using a lambda:
# def totalweight(df, w, q):
#        return sum(df[w] * df[q])
#        
# print(df.groupby('Category').apply(totalweight, 'Weight (oz.)', 'Quantity'))

NameError: name 'df' is not defined

In [1]:
s = pd.Series(['Low', 'Low', 'High', 'Medium', 'Low', 'High', 'Low']).astype('category',categories=['Low', 'Medium', 'High'],
                             ordered=True)
print(s>'Low')

NameError: name 'pd' is not defined

In [33]:
import pandas as pd
import numpy as np

In [94]:
df = pd.read_excel('Energy+Indicators.xls', 'Energy', index_col=None, na_values=['NA'],header=1, skipfooter=38, skipheader=0, skiprows=16, usecols="C:F",names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'])
df

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.695650
5,Angola,642,27,70.909090
6,Anguilla,2,136,0.000000
7,Antigua and Barbuda,8,84,0.000000
8,Argentina,3378,79,24.064520
9,Armenia,143,48,28.236060
10,Aruba,12,120,14.870690
11,Australia1,5386,231,11.810810
12,Austria,1391,164,72.452820
13,Azerbaijan,567,60,6.384345
14,Bahamas,45,118,0.000000
15,Bahrain,574,425,0.000000
16,Bangladesh,1625,10,1.966329
17,Barbados,19,69,0.000000
18,Belarus,1142,120,0.463389
19,Belgium,2338,210,9.959739
20,Belize,13,39,64.690030
21,Benin,170,16,0.000000
22,Bermuda,6,88,0.000000
23,Bhutan,63,83,100.000000
24,Bolivia (Plurinational State of),336,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,Bosnia and Herzegovina,266,70,41.464670
27,Botswana,86,39,0.131406
28,Brazil,12149,59,69.648030
29,British Virgin Islands,2,85,0.000000
...,...,...,...,...
197,Switzerland17,1113,136,57.745480
198,Syrian Arab Republic,542,28,11.568270
199,Tajikistan,106,13,99.742920
200,Thailand,5336,79,4.305189
201,The former Yugoslav Republic of Macedonia,117,56,26.140470
202,Timor-Leste,7,6,0.000000
203,Togo,134,19,80.180180
204,Tonga,3,28,0.000000
205,Trinidad and Tobago,824,611,0.000000
206,Tunisia,430,39,3.492547
207,Turkey,4897,64,28.536690
208,Turkmenistan,1102,210,0.000000
209,Turks and Caicos Islands,3,85,0.000000
210,Tuvalu,...,...,0.000000
211,Uganda,452,12,68.018180
212,Ukraine18,4844,107,8.067312
213,United Arab Emirates,2710,300,0.000000
214,United Kingdom of Great Britain and Northern I...,7920,124,10.600470
215,United Republic of Tanzania,994,20,31.072840
216,United States of America20,90838,286,11.570980
217,United States Virgin Islands,...,...,0.000000
218,Uruguay,196,58,71.605040
219,Uzbekistan,1798,62,21.328410
220,Vanuatu,3,10,14.705880
221,Venezuela (Bolivarian Republic of),2871,95,67.834520
222,Viet Nam,2554,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344,13,0.000000
225,Zambia,400,26,99.714670
226,Zimbabwe,480,32,52.536120

In [74]:
df.replace("...",np.NaN,inplace=True)
df
#df['Energy Supply']=df['Energy Supply'].apply(lambda x:x*(1000000))
#df['Energy Supply']=df['Energy Supply']*1000000

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321.0,10.0,78.669280
1,Albania,102.0,35.0,100.000000
2,Algeria,1959.0,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.0,121.0,88.695650
5,Angola,642.0,27.0,70.909090
6,Anguilla,2.0,136.0,0.000000
7,Antigua and Barbuda,8.0,84.0,0.000000
8,Argentina,3378.0,79.0,24.064520
9,Armenia,143.0,48.0,28.236060
10,Aruba,12.0,120.0,14.870690
11,Australia1,5386.0,231.0,11.810810
12,Austria,1391.0,164.0,72.452820
13,Azerbaijan,567.0,60.0,6.384345
14,Bahamas,45.0,118.0,0.000000
15,Bahrain,574.0,425.0,0.000000
16,Bangladesh,1625.0,10.0,1.966329
17,Barbados,19.0,69.0,0.000000
18,Belarus,1142.0,120.0,0.463389
19,Belgium,2338.0,210.0,9.959739
20,Belize,13.0,39.0,64.690030
21,Benin,170.0,16.0,0.000000
22,Bermuda,6.0,88.0,0.000000
23,Bhutan,63.0,83.0,100.000000
24,Bolivia (Plurinational State of),336.0,32.0,31.477120
25,"Bonaire, Sint Eustatius and Saba",5.0,213.0,0.000000
26,Bosnia and Herzegovina,266.0,70.0,41.464670
27,Botswana,86.0,39.0,0.131406
28,Brazil,12149.0,59.0,69.648030
29,British Virgin Islands,2.0,85.0,0.000000
...,...,...,...,...
197,Switzerland17,1113.0,136.0,57.745480
198,Syrian Arab Republic,542.0,28.0,11.568270
199,Tajikistan,106.0,13.0,99.742920
200,Thailand,5336.0,79.0,4.305189
201,The former Yugoslav Republic of Macedonia,117.0,56.0,26.140470
202,Timor-Leste,7.0,6.0,0.000000
203,Togo,134.0,19.0,80.180180
204,Tonga,3.0,28.0,0.000000
205,Trinidad and Tobago,824.0,611.0,0.000000
206,Tunisia,430.0,39.0,3.492547
207,Turkey,4897.0,64.0,28.536690
208,Turkmenistan,1102.0,210.0,0.000000
209,Turks and Caicos Islands,3.0,85.0,0.000000
210,Tuvalu,NaN,NaN,0.000000
211,Uganda,452.0,12.0,68.018180
212,Ukraine18,4844.0,107.0,8.067312
213,United Arab Emirates,2710.0,300.0,0.000000
214,United Kingdom of Great Britain and Northern I...,7920.0,124.0,10.600470
215,United Republic of Tanzania,994.0,20.0,31.072840
216,United States of America20,90838.0,286.0,11.570980
217,United States Virgin Islands,NaN,NaN,0.000000
218,Uruguay,196.0,58.0,71.605040
219,Uzbekistan,1798.0,62.0,21.328410
220,Vanuatu,3.0,10.0,14.705880
221,Venezuela (Bolivarian Republic of),2871.0,95.0,67.834520
222,Viet Nam,2554.0,28.0,45.321520
223,Wallis and Futuna Islands,0.0,26.0,0.000000
224,Yemen,344.0,13.0,0.000000
225,Zambia,400.0,26.0,99.714670
226,Zimbabwe,480.0,32.0,52.536120

In [95]:
df['Energy Supply']=df['Energy Supply'].apply(lambda x:x*(1000000))
df.head()

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.669280
1,Albania,102000000,35,100.000000
2,Algeria,1959000000,51,0.551010
3,American Samoa,.................................................,...,0.641026
4,Andorra,9000000,121,88.695650

In [96]:
#df.Country[df.Country=='Republic of Korea']="South Korea"
df['Country'] = df['Country'].str.replace('\d+', '')
#df.replace("Republic of Korea","South Korea",inplace=True)
#df.replace("United States of America20", "United States",inplace=True)
#df.replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom",inplace=True)
#df.replace("China, Hong Kong Special Administrative Region", "Hong Kong",inplace=True)

In [97]:
df
#df[df["Country"]=="Republic of Korea*"]
df.replace("United States of America20", "United States",inplace=True)
df.replace("Republic of Korea","South Korea",inplace=True)
df.replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom",inplace=True)
df.replace("China, Hong Kong Special Administrative Region", "Hong Kong",inplace=True)
df

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.669280
1,Albania,102000000,35,100.000000
2,Algeria,1959000000,51,0.551010
3,American Samoa,.................................................,...,0.641026
4,Andorra,9000000,121,88.695650
5,Angola,642000000,27,70.909090
6,Anguilla,2000000,136,0.000000
7,Antigua and Barbuda,8000000,84,0.000000
8,Argentina,3378000000,79,24.064520
9,Armenia,143000000,48,28.236060
10,Aruba,12000000,120,14.870690
11,Australia,5386000000,231,11.810810
12,Austria,1391000000,164,72.452820
13,Azerbaijan,567000000,60,6.384345
14,Bahamas,45000000,118,0.000000
15,Bahrain,574000000,425,0.000000
16,Bangladesh,1625000000,10,1.966329
17,Barbados,19000000,69,0.000000
18,Belarus,1142000000,120,0.463389
19,Belgium,2338000000,210,9.959739
20,Belize,13000000,39,64.690030
21,Benin,170000000,16,0.000000
22,Bermuda,6000000,88,0.000000
23,Bhutan,63000000,83,100.000000
24,Bolivia (Plurinational State of),336000000,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5000000,213,0.000000
26,Bosnia and Herzegovina,266000000,70,41.464670
27,Botswana,86000000,39,0.131406
28,Brazil,12149000000,59,69.648030
29,British Virgin Islands,2000000,85,0.000000
...,...,...,...,...
197,Switzerland,1113000000,136,57.745480
198,Syrian Arab Republic,542000000,28,11.568270
199,Tajikistan,106000000,13,99.742920
200,Thailand,5336000000,79,4.305189
201,The former Yugoslav Republic of Macedonia,117000000,56,26.140470
202,Timor-Leste,7000000,6,0.000000
203,Togo,134000000,19,80.180180
204,Tonga,3000000,28,0.000000
205,Trinidad and Tobago,824000000,611,0.000000
206,Tunisia,430000000,39,3.492547
207,Turkey,4897000000,64,28.536690
208,Turkmenistan,1102000000,210,0.000000
209,Turks and Caicos Islands,3000000,85,0.000000
210,Tuvalu,.................................................,...,0.000000
211,Uganda,452000000,12,68.018180
212,Ukraine,4844000000,107,8.067312
213,United Arab Emirates,2710000000,300,0.000000
214,United Kingdom,7920000000,124,10.600470
215,United Republic of Tanzania,994000000,20,31.072840
216,United States of America,90838000000,286,11.570980
217,United States Virgin Islands,.................................................,...,0.000000
218,Uruguay,196000000,58,71.605040
219,Uzbekistan,1798000000,62,21.328410
220,Vanuatu,3000000,10,14.705880
221,Venezuela (Bolivarian Republic of),2871000000,95,67.834520
222,Viet Nam,2554000000,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344000000,13,0.000000
225,Zambia,400000000,26,99.714670
226,Zimbabwe,480000000,32,52.536120

In [29]:
import pandas as pd
import numpy as np
energy = pd.read_excel('Energy+Indicators.xls', 'Energy', index_col=None, na_values=['NA'],header=1, skipfooter=38, skipheader=0, skiprows=16, usecols="C:F",names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'])
energy.replace("...",np.NaN,inplace=True)
energy['Energy Supply']=energy['Energy Supply'].apply(lambda x:x*(1000000))
energy['Country'] = energy['Country'].str.replace('\d+', '')
#either this regex or next one both works
#energy['CountryTest'] = energy['Country'].str.replace(r"\(.*\)","")
energy['Country'] = energy['Country'].str.replace("\([a-zA-Z\s]*\)","")
energy.replace("United States of America", "United States",inplace=True)
energy.replace("Republic of Korea","South Korea",inplace=True)
energy.replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom",inplace=True)
energy.replace("China, Hong Kong Special Administrative Region", "Hong Kong",inplace=True)
#energy
energyNew = energy.set_index('Country')
energyNew

,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,
Afghanistan,3.210000e+08,10.0,78.669280
Albania,1.020000e+08,35.0,100.000000
Algeria,1.959000e+09,51.0,0.551010
American Samoa,NaN,NaN,0.641026
Andorra,9.000000e+06,121.0,88.695650
Angola,6.420000e+08,27.0,70.909090
Anguilla,2.000000e+06,136.0,0.000000
Antigua and Barbuda,8.000000e+06,84.0,0.000000
Argentina,3.378000e+09,79.0,24.064520
Armenia,1.430000e+08,48.0,28.236060
Aruba,1.200000e+07,120.0,14.870690
Australia,5.386000e+09,231.0,11.810810
Austria,1.391000e+09,164.0,72.452820
Azerbaijan,5.670000e+08,60.0,6.384345
Bahamas,4.500000e+07,118.0,0.000000
Bahrain,5.740000e+08,425.0,0.000000
Bangladesh,1.625000e+09,10.0,1.966329
Barbados,1.900000e+07,69.0,0.000000
Belarus,1.142000e+09,120.0,0.463389
Belgium,2.338000e+09,210.0,9.959739
Belize,1.300000e+07,39.0,64.690030
Benin,1.700000e+08,16.0,0.000000
Bermuda,6.000000e+06,88.0,0.000000
Bhutan,6.300000e+07,83.0,100.000000
Bolivia,3.360000e+08,32.0,31.477120
"Bonaire, Sint Eustatius and Saba",5.000000e+06,213.0,0.000000
Bosnia and Herzegovina,2.660000e+08,70.0,41.464670
Botswana,8.600000e+07,39.0,0.131406
Brazil,1.214900e+10,59.0,69.648030
British Virgin Islands,2.000000e+06,85.0,0.000000
...,...,...,...
Switzerland,1.113000e+09,136.0,57.745480
Syrian Arab Republic,5.420000e+08,28.0,11.568270
Tajikistan,1.060000e+08,13.0,99.742920
Thailand,5.336000e+09,79.0,4.305189
The former Yugoslav Republic of Macedonia,1.170000e+08,56.0,26.140470
Timor-Leste,7.000000e+06,6.0,0.000000
Togo,1.340000e+08,19.0,80.180180
Tonga,3.000000e+06,28.0,0.000000
Trinidad and Tobago,8.240000e+08,611.0,0.000000
Tunisia,4.300000e+08,39.0,3.492547
Turkey,4.897000e+09,64.0,28.536690
Turkmenistan,1.102000e+09,210.0,0.000000
Turks and Caicos Islands,3.000000e+06,85.0,0.000000
Tuvalu,NaN,NaN,0.000000
Uganda,4.520000e+08,12.0,68.018180
Ukraine,4.844000e+09,107.0,8.067312
United Arab Emirates,2.710000e+09,300.0,0.000000
United Kingdom,7.920000e+09,124.0,10.600470
United Republic of Tanzania,9.940000e+08,20.0,31.072840
United States,9.083800e+10,286.0,11.570980
United States Virgin Islands,NaN,NaN,0.000000
Uruguay,1.960000e+08,58.0,71.605040
Uzbekistan,1.798000e+09,62.0,21.328410
Vanuatu,3.000000e+06,10.0,14.705880
Venezuela,2.871000e+09,95.0,67.834520
Viet Nam,2.554000e+09,28.0,45.321520
Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
Yemen,3.440000e+08,13.0,0.000000
Zambia,4.000000e+08,26.0,99.714670
Zimbabwe,4.800000e+08,32.0,52.536120

In [147]:
#df['CountryTest'] = df['Country'].str.replace(r"\(.*\)","")
#df['CountryTest'] = df['Country'].str.replace("\([a-zA-Z\s]*\)","")

In [35]:
gdp=pd.read_csv('world_bank.csv', index_col=0, skiprows=3, header=1)
gdp.replace("Korea, Rep.", "South Korea",inplace=True)
gdp.replace("Iran, Islamic Rep.", "Iran",inplace=True)
gdp.replace("Hong Kong SAR, China", "Hong Kong",inplace=True)
#gdp
gdpLast10 = gdp.filter(['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'])
#gdpLast10 = gdpLast10.rename(columns={'CountryName': 'Country'})

gdpLast10.index.names = ['Country']
gdpLast10

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
Arab World,1.763824e+12,1.863481e+12,1.980983e+12,2.011001e+12,2.103825e+12,2.173896e+12,2.318267e+12,2.385580e+12,2.436659e+12,2.509068e+12
United Arab Emirates,2.789489e+11,2.878318e+11,2.970189e+11,2.814464e+11,2.860493e+11,3.009462e+11,3.216922e+11,3.355937e+11,3.509313e+11,3.621003e+11
Argentina,3.788140e+11,4.089887e+11,4.215649e+11,4.217758e+11,4.616402e+11,5.003555e+11,5.043671e+11,5.189199e+11,5.212737e+11,NaN
Armenia,8.679746e+09,9.873142e+09,1.055439e+10,9.060944e+09,9.260285e+09,9.695518e+09,1.039360e+10,1.073658e+10,1.111236e+10,1.144574e+10
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Antigua and Barbuda,1.268714e+09,1.389229e+09,1.390217e+09,1.222890e+09,1.135539e+09,1.115174e+09,1.159999e+09,1.155982e+09,1.211723e+09,1.256122e+09
Australia,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Austria,3.782096e+11,3.919065e+11,3.979703e+11,3.828512e+11,3.902351e+11,4.011929e+11,4.042312e+11,4.055298e+11,4.069632e+11,4.104717e+11
Azerbaijan,3.329047e+10,4.162940e+10,4.611390e+10,5.045352e+10,5.290270e+10,5.293758e+10,5.410221e+10,5.723834e+10,5.838310e+10,5.902532e+10
Burundi,1.714698e+09,1.796761e+09,1.887463e+09,1.952928e+09,2.026864e+09,2.111823e+09,2.196705e+09,2.297623e+09,2.404713e+09,2.343733e+09
Belgium,4.626081e+11,4.783251e+11,4.818987e+11,4.708879e+11,4.835775e+11,4.922666e+11,4.930476e+11,4.930627e+11,4.994502e+11,5.063123e+11
Benin,6.000596e+09,6.359822e+09,6.671034e+09,6.825750e+09,6.970241e+09,7.176752e+09,7.509970e+09,8.026581e+09,8.551638e+09,8.999782e+09
Burkina Faso,7.094394e+09,7.495583e+09,8.042348e+09,8.280563e+09,8.979967e+09,9.565619e+09,1.018286e+10,1.055446e+10,1.098168e+10,1.141871e+10
Bangladesh,9.158885e+10,9.805377e+10,1.039505e+11,1.091950e+11,1.152791e+11,1.227312e+11,1.307350e+11,1.385969e+11,1.469974e+11,1.566295e+11
Bulgaria,4.580943e+10,4.932546e+10,5.211087e+10,4.991194e+10,4.993917e+10,5.073019e+10,5.085046e+10,5.150230e+10,5.230059e+10,5.385242e+10
Bahrain,2.088961e+10,2.262186e+10,2.403463e+10,2.464505e+10,2.571327e+10,2.625330e+10,2.719545e+10,2.866752e+10,2.995210e+10,3.082866e+10
"Bahamas, The",8.203865e+09,8.322536e+09,8.129126e+09,7.789714e+09,7.909580e+09,7.958058e+09,8.134513e+09,8.136305e+09,8.219522e+09,8.319840e+09
Bosnia and Herzegovina,1.572365e+10,1.662442e+10,1.753569e+10,1.703244e+10,1.716312e+10,1.731900e+10,1.715738e+10,1.756816e+10,1.775823e+10,1.831896e+10
Belarus,4.274098e+10,4.641670e+10,5.115121e+10,5.125351e+10,5.522093e+10,5.828222e+10,5.929132e+10,5.992787e+10,6.096048e+10,5.859052e+10
Belize,1.285312e+09,1.299522e+09,1.341485e+09,1.352206e+09,1.397113e+09,1.426484e+09,1.479846e+09,1.499280e+09,1.560479e+09,1.590417e+09
Bermuda,5.932559e+09,6.101393e+09,6.194616e+09,5.867282e+09,5.744414e+09,5.552580e+09,5.284138e+09,5.151445e+09,NaN,NaN
Bolivia,1.644957e+10,1.720040e+10,1.825796e+10,1.887088e+10,1.964963e+10,2.067222e+10,2.173110e+10,2.320795e+10,2.447524e+10,2.544488e+10
Brazil,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Barbados,4.522426e+09,4.599352e+09,4.619595e+09,4.433354e+09,4.445500e+09,4.477890e+09,4.490036e+09,4.490036e+09,4.498133e+09,4.542669e+09
Brunei Darussalam,1.249730e+10,1.251661e+10,1.227383e+10,1.205725e+10,1.237062e+10,1.279491e+10,1.291625e+10,1.268996e+10,1.239301e+10,1.233105e+10
...,...,...,...,...,...,...,...,...,...,...
Middle East & North Africa (IDA & IBRD countries),1.128451e+12,1.200513e+12,1.246733e+12,1.284551e+12,1.354033e+12,1.344512e+12,1.381807e+12,1.394728e+12,1.416758e+12,NaN
Timor-Leste,5.940000e+08,6.620000e+08,7.560000e+08,8.540000e+08,9.340000e+08,1.023000e+09,1.088000e+09,1.118000e+09,1.179490e+09,1.229630e+09
Tonga,3.591646e+08,3.427468e+08,3.511655e+08,3.550268e+08,3.698161e+08,3.772832e+08,3.793467e+08,3.691972e+08,3.771126e+08,NaN
South Asia (IDA & IBRD),1.588121e+12,1.716564e+12,1.783227e+12,1.919371e+12,2.093719e+12,2.226077e+12,2.351842e+12,2.499225e+12,2.670483e+12,2.862660e+12
Sub-Saharan Africa (IDA & IBRD countries),1.107337e+12,1.185713e+12,1.248779e+12,1.284295e+12,1.355385e+12,1.413707e+12,1.465242e+12,1.534734e+12,1.605815e+12,1.653644e+12
Trinidad and Tobago,2.033516e+10,2.130193e+10,2.202416e+10,2.105717e+10,2.103761e+10,2.103908e+10,2.132649e+10,2.169752e+10,2.187468e+10,2.209480e+10
Tunisia,3.712967e+10,3.962093e+10,4.129998e+10,4.255692e+10,4.405093e+10,4.300079e+10,4.459182e+10,4.561743e+10,4.666663e+10,4.703997e+10
Turkey,6.680034e+11,6.991896e+11,7.037962e+11,6.698319e+11,7.311681e+11,7.953116e+11,8.122315e+11,8.462844e+11,8.718432e+11,9.065849e+11
Tuvalu,2.980999e+07,3.170309e+07,3.423404e+07,3.271649e+07,3.182352e+07,3.451366e+07,3.457388e+07,3.502271e+07,3.571892e+07,NaN
Tanzania,2.447280e+10,2.654427e+10,2.802189e+10,2.953012e+10,3.140791e+10,3.389055e+10,3.563287e+10,3.822090e+10,4.088304e+10,4.373172e+10
Uganda,1.518174e+10,1.645889e+10,1.789225e+10,1.918963e+10,2.018180e+10,2.213403e+10,2.311042e+10,2.386630e+10,2.501553e+10,2.627705e+10
Ukraine,1.392103e+11,1.502079e+11,1.536627e+11,1.309206e+11,1.364193e+11,1.435131e+11,1.438001e+11,1.438001e+11,1.343093e+11,1.210127e+11
Upper middle income,1.209926e+13,1.319424e+13,1.398552e+13,1.423007e+13,1.530029e+13,1.623576e+13,1.706156e+13,1.786328e+13,1.856972e+13,1.912141e+13
Uruguay,3.139363e+10,3.344725e+10,3.584747e+10,3.736865e+10,4.028468e+10,4.236423e+10,4.386315e+10,4.589732e+10,4.738384e+10,4.784927e+10
United States,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Uzbekistan,2.798925e+10,3.076611e+10,3.353506e+10,3.625140e+10,3.933277e+10,4.259739e+10,4.609038e+10,4.977761e+10,5.380959e+10,5.811436e+10
St. Vincent and the Grenadines,6.857344e+08,6.746459e+08,7.200629e+08,7.049483e+08,6.812260e+08,6.783400e+08,6.877044e+08,6.991892e+08,7.037801e+08,7.139983e+08
"Venezuela, RB",3.606999e+11,3.922741e+11,4.129777e+11,3.997529e+11,3.938015e+11,4.102483e+11,4.333287e+11,4.391487e+11,4.220465e+11,3.979899e+11
British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vietnam,9.130761e+10,9.781739e+10,1.033556e+11,1.089346e+11,1.159317e+11,1.231662e+11,1.296292e+11,1.366576e+11,1.448347e+11,1.545086e+11
Vanuatu,5.961693e+08,6.270251e+08,6.674589e+08,6.895706e+08,7.008043e+08,7.093767e+08,7.218245e+08,7.360383e+08,7.529991e+08,NaN
West Bank and Gaza,8.016675e+09,7.878227e+09,7.201473e+09,8.709518e+09,8.913100e+09,9.611505e+09,1.100864e+10,1.053747e+10,1.042246e+10,1.171414e+10
World,6.023536e+13,6.282865e+13,6.398692e+13,6.291271e+13,6.564782e+13,6.770244e+13,6.937886e+13,7.104232e+13,7.291072e+13,7.470901e+13
Samoa,6.393881e+08,6.798143e+08,6.866743e+08,6.536571e+08,6.567891e+08,6.947420e+08,6.975356e+08,6.840462e+08,6.922284e+08,7.035448e+08
"Yemen, Rep.",2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
South Africa,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
"Congo, Dem. Rep.",1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
Zambia,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
Zimbabwe,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [51]:
gdp.shape

(264, 59)

In [37]:
ScimEn=pd.read_excel('scimagojr-3.xlsx', 'Sheet1', index_col=None, na_values=['NA'],header=0)
#ScimEn
ScimEnTop15 = ScimEn.loc[ScimEn['Rank'] <= 15]
ScimEnTop15 = ScimEnTop15.set_index('Country')
ScimEnTop15

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,
China,1,127050,126767,597237,411683,4.70,138
United States,2,96661,94747,792274,265436,8.20,230
Japan,3,30504,30287,223024,61554,7.31,134
United Kingdom,4,20944,20357,206091,37874,9.84,139
Russian Federation,5,18534,18301,34266,12422,1.85,57
Canada,6,17899,17620,215003,40930,12.01,149
Germany,7,17027,16831,140566,27426,8.26,126
India,8,15005,14841,128763,37209,8.58,115
France,9,13153,12973,130632,28601,9.93,114
South Korea,10,11983,11923,114675,22595,9.57,104
Italy,11,10964,10794,111850,26661,10.20,106
Spain,12,9428,9330,123336,23964,13.08,115
Iran,13,8896,8819,57470,19125,6.46,72
Australia,14,8831,8725,90765,15606,10.28,107
Brazil,15,8668,8596,60702,14396,7.00,86

In [50]:
ScimEn.shape

(191, 8)

In [43]:
mergeOne = pd.merge(ScimEnTop15,energyNew, how='left', left_index=True, right_index=True)
mergeOne

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590
Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030

In [44]:
mergeTwo = pd.merge(mergeOne, gdpLast10, how='left', left_index=True, right_index=True)
mergeTwo

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [45]:
ScimEnAll = ScimEn.set_index('Country')

In [46]:
ScimEnAll

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,
China,1,127050,126767,597237,411683,4.70,138
United States,2,96661,94747,792274,265436,8.20,230
Japan,3,30504,30287,223024,61554,7.31,134
United Kingdom,4,20944,20357,206091,37874,9.84,139
Russian Federation,5,18534,18301,34266,12422,1.85,57
Canada,6,17899,17620,215003,40930,12.01,149
Germany,7,17027,16831,140566,27426,8.26,126
India,8,15005,14841,128763,37209,8.58,115
France,9,13153,12973,130632,28601,9.93,114
South Korea,10,11983,11923,114675,22595,9.57,104
Italy,11,10964,10794,111850,26661,10.20,106
Spain,12,9428,9330,123336,23964,13.08,115
Iran,13,8896,8819,57470,19125,6.46,72
Australia,14,8831,8725,90765,15606,10.28,107
Brazil,15,8668,8596,60702,14396,7.00,86
Taiwan,16,6468,6441,86099,14768,13.31,102
Turkey,17,5879,5827,91857,23165,15.62,104
Norway,18,5675,5634,32693,6024,5.76,74
Netherlands,19,5170,5105,48351,6067,9.35,85
Sweden,20,4565,4494,57889,9632,12.68,95
Malaysia,21,3914,3881,25545,6597,6.53,62
Switzerland,22,3636,3599,38962,6186,10.72,81
Denmark,23,3531,3494,37254,6191,10.55,85
Mexico,24,3249,3214,21524,4145,6.62,57
Poland,25,3123,3102,24852,5395,7.96,55
Saudi Arabia,26,2979,2930,21208,2469,7.12,61
Greece,27,2866,2835,41662,6226,14.54,82
Egypt,28,2789,2752,19123,2778,6.86,55
Belgium,29,2697,2642,23720,3300,8.79,63
Singapore,30,2488,2443,36098,3700,14.51,81
...,...,...,...,...,...,...,...
Greenland,162,3,3,49,0,16.33,2
Afghanistan,163,3,3,0,0,0.00,0
Cape Verde,164,3,3,5,0,1.67,1
French Guiana,165,3,3,1,1,0.33,1
Samoa,166,3,3,13,1,4.33,1
Cayman Islands,167,2,2,2,0,1.00,1
Andorra,168,2,2,13,0,6.50,1
Antigua and Barbuda,169,2,2,0,0,0.00,0
Haïti,170,2,2,4,1,2.00,1
Nauru,171,2,2,0,0,0.00,0
Seychelles,172,2,2,7,2,3.50,1
Mali,173,2,2,0,0,0.00,0
Bermuda,174,2,2,12,0,6.00,1
Chad,175,2,2,0,0,0.00,0
Burundi,176,2,2,23,0,11.50,1
Liberia,177,1,1,1,0,1.00,1
Togo,178,1,1,0,0,0.00,0
British Indian Ocean Territory,179,1,1,37,0,37.00,1
American Samoa,180,1,1,0,0,0.00,0
Saint Helena,181,1,1,1,0,1.00,1
Gibraltar,182,1,1,0,0,0.00,0
Maldives,183,1,1,1,0,1.00,1
Gambia,184,1,1,0,0,0.00,0
Belize,185,1,1,6,0,6.00,1
Palau,186,1,1,0,0,0.00,0
Guyana,187,1,1,0,0,0.00,0
Christmas Island,188,1,1,0,0,0.00,0
Reunion,189,1,1,2,1,2.00,1
Saint Lucia,190,1,1,0,0,0.00,0
Mauritania,191,1,1,1,0,1.00,1

In [49]:
ScimEnAll = ScimEn.set_index('Country')
mergeOne = pd.merge(ScimEnAll,energyNew, how='outer', left_index=True, right_index=True)
mergeTwo = pd.merge(mergeOne, gdpLast10, how='outer', left_index=True, right_index=True)
mergeTwo.shape

(324, 20)

In [54]:
lostentries = mergeTwo.shape[0]-15
lostentries

309

In [70]:
mergeOne = pd.merge(ScimEnTop15,energyNew, how='left', left_index=True, right_index=True)
mergeTwo = pd.merge(mergeOne, gdpLast10, how='left', left_index=True, right_index=True)
rows = ['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
s = mergeTwo.apply(lambda x: np.average(x[rows]), axis=1)
s.sort_values(ascending=False, inplace=True)
s

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea                    NaN
Iran                           NaN
dtype: float64

In [68]:
s.index[5]

'United Kingdom'

In [109]:
#nwm = mergeTwo.loc(mergeTwo['Country']=='United Kingdom')
#mergeTwo.index['Country']=='United Kingdom'
s2=mergeTwo.loc['United Kingdom']
df= s2.to_frame().T
max_value = df[["2006","2007","2008","2009","2010","2011","2012","2013","2014","2015"]].max(axis=1)
min_value = df[["2006","2007","2008","2009","2010","2011","2012","2013","2014","2015"]].min(axis=1)
#print(max_value)
#print(min_value)
#print(max_value-min_value)
(max_value-min_value).iloc[0]

United Kingdom    2.992858e+11
dtype: float64

299285784765.13965

In [96]:
df.pivot_table( index='United Kingdom',aggfunc=[np.mean,np.min])

DataError: No numeric types to aggregate

In [1]:
def answer_one():
    import pandas as pd
    import numpy as np
    energy = pd.read_excel('Energy+Indicators.xls', 'Energy', index_col=None, na_values=['NA'],header=1, skipfooter=38, skipheader=0, skiprows=16, usecols="C:F",names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'])
    energy.replace("...",np.NaN,inplace=True)
    energy['Energy Supply']=energy['Energy Supply'].apply(lambda x:x*(1000000))
    energy['Country'] = energy['Country'].str.replace('\d+', '')
    #either this regex or next one both works
    #energy['CountryTest'] = energy['Country'].str.replace(r"\(.*\)","")
    energy['Country'] = energy['Country'].str.replace("\([a-zA-Z\s]*\)","")
    energy.replace("United States of America", "United States",inplace=True)
    energy.replace("Republic of Korea","South Korea",inplace=True)
    energy.replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom",inplace=True)
    energy.replace("China, Hong Kong Special Administrative Region", "Hong Kong",inplace=True)
    energy
    #first dataframe built, start building second one
    gdp=pd.read_csv('world_bank.csv', index_col=0, skiprows=3, header=1)
    gdp.replace("Korea, Rep.", "South Korea",inplace=True)
    gdp.replace("Iran, Islamic Rep.", "Iran",inplace=True)
    gdp.replace("Hong Kong SAR, China", "Hong Kong",inplace=True)
    gdp
    #second dataframe built, start building third one
    ScimEn=pd.read_excel('scimagojr-3.xlsx', 'Sheet1', index_col=None, na_values=['NA'],header=0)
    ScimEn
    #get the top 15 rank rows
    ScimEnTop15 = ScimEn.loc[ScimEn['Rank'] <= 15]
    #get last 10 years gdp data
    gdpLast10 = gdp.filter(['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'])
    #set gdpLast10 index name as Country
    gdpLast10.index.names = ['Country']
    #get top 15 ranks and set index as Country
    ScimEnTop15 = ScimEn.loc[ScimEn['Rank'] <= 15]
    ScimEnTop15 = ScimEnTop15.set_index('Country')
    #
    energyNew = energy.set_index('Country')
    #
    mergeOne = pd.merge(ScimEnTop15,energyNew, how='left', left_index=True, right_index=True)
    mergeTwo = pd.merge(mergeOne, gdpLast10, how='left', left_index=True, right_index=True)

    return mergeTwo

In [2]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [5]:
import numpy as np
Top15 = answer_one()
rows=['Energy Supply per Capita']
s = Top15.apply(lambda x: np.mean(x[rows]), axis=1)
print(s)
s
2+3

Country
China                  93.0
United States         286.0
Japan                 149.0
United Kingdom        124.0
Russian Federation    214.0
Canada                296.0
Germany               165.0
India                  26.0
France                166.0
South Korea           221.0
Italy                 109.0
Spain                 106.0
Iran                    NaN
Australia             231.0
Brazil                 59.0
dtype: float64

5

In [6]:
Top15 = answer_one()
Top15["Energy Supply per Capita"].mean()

160.35714285714286

In [77]:
result = Top15.sort_values('% Renewable', ascending=False )
df = result.reset_index()
tuple(df[['Country','% Renewable']].iloc[0])
#result.iloc[0].reset_index()
#s = result.iloc[0]
#s['% Renewable']
#result.reset_index().iloc[0]
#result.iloc[0]
#r = result.iloc[0].reset_index()
#r = result.reset_index().iloc[0]
#r = r.reset_index()
#r
#tuple(r.iloc[0],r.iloc[10])

('Brazil', 69.64803)

In [87]:
Top15 = answer_one()
Top15['ratio'] = Top15['Self-citations']/Top15['Citations']
result = Top15.sort_values('ratio', ascending=False )
df = result.reset_index()
tuple(df[['Country','ratio']].iloc[0])

('China', 0.6893126179389422)

In [92]:
Top15 = answer_one()
Top15['estimate_population'] = Top15['Energy Supply']/Top15['Energy Supply per Capita']
result = Top15.sort_values('estimate_population', ascending=False )
df = result.reset_index()
tuple_result = tuple(df[['Country','estimate_population']].iloc[3])

('Brazil', 205915254.23728815)

In [95]:
Top15 = answer_one()
Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])

0.7901935488300877

In [126]:
import pandas as pd
Top15 = answer_one()
Top15['result'] = np.where(Top15['% Renewable'] >= Top15['% Renewable'].median(),1,0)
Top15 = Top15.sort_values('Rank', ascending=False)
Top15 = Top15.reset_index()
Top15
#ndf=Top15[['result']]
#ndf = ndf.reset_index()
#pd.Series(ndf)
s = pd.Series(Top15['result'].values, index=Top15['Country'], name='HighRenew')
s

Country
Brazil                1
Australia             0
Iran                  0
Spain                 1
Italy                 1
South Korea           0
France                0
India                 0
Germany               1
Canada                1
Russian Federation    1
United Kingdom        0
Japan                 0
United States         0
China                 1
Name: HighRenew, dtype: int64

In [142]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
Top15 = answer_one()
Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
Top15.groupby(by=ContinentDict,axis=0).aggregate({'1': np.average})
#df.groupby('STNAME').agg({'CENSUS2010POP': np.average})

/anaconda3/lib/python3.6/site-packages/pandas/core/groupby.py:4291: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

KeyError: '1'

In [134]:
grouped = Top15.groupby(by=ContinentDict,axis=0)
grouped.aggregate(np.mean)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,PopEst
Asia,7.0,38687.600000,38527.400000,224233.800000,110433.2,7.324,112.6,4.759425e+10,122.250000,11.809041,...,3.850314e+12,3.994888e+12,4.086679e+12,4.415612e+12,4.636034e+12,4.872772e+12,5.123029e+12,5.357874e+12,5.611589e+12,7.053977e+08
Australia,14.0,8831.000000,8725.000000,90765.000000,15606.0,10.280,107.0,5.386000e+09,231.000000,11.810810,...,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,2.331602e+07
Europe,8.0,15008.333333,14764.333333,124456.833333,26158.0,8.860,109.5,1.232333e+10,147.333333,22.407797,...,2.300005e+12,2.317125e+12,2.204494e+12,2.258262e+12,2.306675e+12,2.307796e+12,2.314700e+12,2.341307e+12,2.366393e+12,7.632161e+07
North America,4.0,57280.000000,56183.500000,503638.500000,153183.0,10.105,189.5,5.063450e+10,291.000000,36.758205,...,8.326068e+12,8.312102e+12,8.079993e+12,8.288889e+12,8.434053e+12,8.617647e+12,8.752177e+12,8.965052e+12,9.170591e+12,1.764276e+08
South America,15.0,8668.000000,8596.000000,60702.000000,14396.0,7.000,86.0,1.214900e+10,59.000000,69.648030,...,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,2.059153e+08